
<!DOCTYPE html> 
<html>
<body>
<div>
<br>
<p>Welcome to Tic Tac Toe!!!<p>
<table border=".5" style="width:30%">
  <tr>
    <td>1</td>
    <td>2</td>		
    <td>3</td>
  </tr>
  <tr>
    <td>4</td>
    <td>5</td>		
    <td>6</td>
  </tr>
  <tr>
    <td>7</td>
    <td>8</td>		
    <td>9</td>  
  </tr>
</table>

<p>Player 1, Please choose X or O</p>

<form action="/board" method="Post">
  <input class="box" type="text" name="marker">
  <type="submit" name="submit" value="submit">
</form>
<p><%=p1%><%=p2%><%=error%></p> 

</div>
</body>
</html>