img {display:block;margin:0 auto;border: 3px solid #000080;}

table {font:2.0em consolas; border-collapse: collapse; margin:auto;}
td {padding:20px 25px;}
td.br {border-bottom: 3px solid #000080; border-right: 3px solid #000080;}
td.b {border-bottom: 3px solid #000080;}
td.r {border-right: 3px solid #000080;}

p {text-align:center;}

form {text-align:center;}

input.box {width:20px;text-align:center;}